<%- include('../parts/header.ejs'); %>
<div class="content-wrap">
  <a href="/staff" class="button back"><i class="fas fa-arrow-left"></i> Back to Staff Area</a><br ><br >
  <div class="meta-info row">
    <h1 class="content-title">Delete '<%= staff.Name; %>' staff member</h1>
  </div>
  <div class="content">
    <form action="<%= staff.Id; %>" method="post">
      <p>Are you sure you want to delete '<b><%= staff.Name; %></b>' member</p><br >
      <input type="submit" value="Confirm">
    </form>
  </div>
</div>
<%- include('../parts/footer.ejs'); %>